body{
    background-color: rgb(226, 226, 226);

}
div{
    background-color: #fff;
    width: 400px;
    height:780px;
    margin: auto;
    border-radius: 7px;
    margin-top: 85px;
}
form{
    width: 350px;
    margin: auto;
}
h1{
    text-align: center;
}
fieldset{
    margin-bottom: 24px;
}
label, legend{
    font-weight: bold;
}
.positionlb label{
    width: 92px;
    display: inline-block;
    text-align: right;
}
.position{
    width: 310px;
    height: 120px;
}

