body{
    text-align: center;
}
form{
    width: 200px;
    margin: auto;
}
legend{
    background-color: darkslategray;
    color: #fff;
    padding: 3px 6px;
    text-align: center;
    font-size: 20px;
}
input{
    margin: 0.4rem;
}
button{
    background-color: darkslategray;
    color: #fff;
}
.center{
     text-align: center;
}