@import url(reset.css);

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #303030;
    
}
.header-img{
    height: 92px;
}
.header-nav{
    padding: 24px;
}
.header-nav-ul{
    display: flex;
    gap: 20px;
}
.header-nav-ul-li{
    font-size: 24px;
    color: white;
    padding: 8px;
}
.header-nav-ul-li:hover{
    background-color: rgba(230, 230, 230, 0.2);
    border-radius: 12%;
}
#menu-select{
    color: #73cdfc;
    background-color: rgba(230, 230, 230, 0.2);
    border-radius: 12%;
}
